spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/dev
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.filter.DelegatingFilterProxy: TRACE
