spring:
  datasource:
    url: jdbc:h2:mem:openapi;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  liquibase:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

server:
  port: 8080
