services:
  auditservice:
    build:
      context: ../
      dockerfile: auditlog/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shiftservice
      SPRING_DATASOURCE_USERNAME: shiftcontrol
      SPRING_DATASOURCE_PASSWORD: password
    volumes:
      - ./config/application.yml:/app/application.yml
    networks:
      - shiftcontrol
    ports:
        - "8089:8080"
    labels:
      - traefik.enable=true
      - traefik.http.routers.auditservice.entrypoints=web
      - traefik.http.routers.auditservice.rule=Host(`auditservice.127.0.0.1.nip.io`)
      - traefik.http.services.auditservice.loadbalancer.server.port=8089

networks:
  shiftcontrol:
    external: true
