services:

  redis:
    image: redis:7-alpine
    container_name: trustservice-redis
    ports:
      - "6379:6379"
    networks:
      - shiftcontrol

  trustservice:
    build:
      context: ../
      dockerfile: trustservice/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shiftservice
      SPRING_DATASOURCE_USERNAME: shiftcontrol
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis
    labels:
      - traefik.enable=true
      - traefik.http.routers.trustservice.entrypoints=web
      - traefik.http.routers.trustservice.rule=Host(`trustservice.127.0.0.1.nip.io`)
      - traefik.http.services.trustservice.loadbalancer.server.port=8080
    volumes:
      - ./config/application.yml:/app/application.yml
    networks:
      - shiftcontrol

networks:
  shiftcontrol:
    external: true
