services:

  redis:
    image: redis:7-alpine
    container_name: trustservice-redis
    networks:
      - shiftcontrol
#    ports:
#      - "6379:6379"

  trustservice:
    build:
      context: ../
      dockerfile: trustservice/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shiftservice
      SPRING_DATASOURCE_USERNAME: shiftcontrol
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis
    volumes:
      - ./config/application.yml:/app/application.yml
    networks:
      - shiftcontrol

networks:
  shiftcontrol:
    external: true
