name: Build and Publish Shiftservice to GitHub Container Registry
permissions: write-all

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-shiftservice.yml'
      - 'shiftservice/**'
      - 'shiftcontrol-lib/**'

env:
  IMAGE_NAME: shiftservice
  DOCKERFILE_PATH: ./shiftservice/Dockerfile

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ${{ env.DOCKERFILE_PATH }}
          push: true
          tags: ghcr.io/pilotwhale-os/${{ env.IMAGE_NAME }}:latest